{% extends "base.html" %} 
{% load static %}
{% block title %} Login Page {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'myCSS/sign_in.css' %}">
{% endblock styles %}
{% block content %}
<div class="wrapper-about wrapper">
    <h1>About</h1>
    <p>
        ServCo plus is a Web application that help restaurant managers and servers server customers and manage tables with ease.
        The system will be made avaliable to the server upon clocking in to the system.
        Servers will be able to track table through table numbers and track what meals belong 
        to the table through meal id's.
    </p>
    
    <h1>Features</h1>
    <p>
        Timer: With ServCo plus you no longer have to worry about keeping up with how long guest have been seated. Each table has its own built timer
        that can reset when a table has left and is ready to be reseated!
    </p>

    <p>
        Reassignment: Reassigning servers to new tables have been made easy as well. At any moment and for any reason a table can reassigned to a new employee.
    </p>

    <p>
        Guest: Each table has a certain number of avaliable seats. ServCo allows users to enter how many guests are seated at a table to allow for accurate
        estimate of wait times.
    </p>
    
    <p>
        Quick Access: ServCo's unique hover feature allows the user to see table information by simply hovering over a desired table. With a simple hover
        the user can see the number of seats, how many people are actually seated, Waiter/Watress assigned to the table, 
        if the table is currently avaliable for seating and how long the current guest have been seated at the table.
    </p>

    <h2>Team Members</h2>
    <ul>
        <li>Charne Robinson - Writer</li>
        <li>Daryna Kozlova - Developer</li>
        <li>Isaiah Dillard - Developer</li>
        <li>Jacob Sparks - Tester</li>
        <li>Yifan Gao - Writer</li>
        <li>Anthony Gilliam - Project Manager</li>
    </ul>
    </div>

{% endblock content %}