{% extends "base.html" %} 
{% load static %}
{% block title %} Login Page {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
{% endblock styles %}
{% block content %}
<div class="wrapper-about wrapper">
    <h1>Objective</h1>
    <p>We are creating a software product that allows servers and host to easily manage tables, 
    customers and all other information about restaurant. The softwaere will improve workflow 
    assiting with controlling wait times, table management, table assignment, and also track 
    table status. The system will be made avaliable to the server upon clocking in to the 
    system. This will all be done through a simple and easy to navigate user interface. 
    Servers will be able to track table through table numbers and track what meals belong 
    to the table through meal id's.</p>
    <h2>Team Members</h2>
    <ul>
        <li>Charne Robinson - Writer</li>
        <li>Daryna Kozlova - Developer</li>
        <li>Isaiah Dillard - Developer</li>
        <li>Jacob Sparks - Tester</li>
        <li>Yifan Gao - Writer</li>
        <li>Anthony Gilliam</li>
    </ul>
    </div>

{% endblock content %}