{% extends "base.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
{%endblock styles%}
{% block title %} 
Login Page 
{% endblock %}

{% block content %}
<div class="wrapper-login wrapper">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
      <h1>Log In</h1>
      <div class="input-field">
        {{form.username}}
      </div>
      <div class="input-field">
        {{form.password}}
      </div>
      <div class="input-field">
        <button style="width:600px; height: 60px; font-size: 40px;">Log In</button>
      </div>
      {% if messages %}
      <div class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}" style="color: red; font-size: 20px;margin: 0;" >{{ message }}</p>
      {% endfor %}
      </div>
      {% endif %}
      <div>
        <p>Need an account? <a href="{% url 'signup' %}">Sign Up</a></p>
      </div>
    </form>
  </div>


{% endblock %} 

