{% extends 'base.html' %}
{% load static %}

{% block title %}Restaurant Layout{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'myCss/styles.css' %}">
{% endblock styles %}
{% csrf_token%}
{% block content %}

<div id="container">
    <div id="loading">Loading...</div>
    <div class="controls">
        <h2>Table Controls</h2>
        <div id="table-editor" class="editor-panel">
            <h3>Selected Table</h3>
            <div id="editor-content">
                <p class="no-selection">Click a table to edit its details</p>
            </div>
            <div style="display: none;">
                {{form.table_status}}
                {{form.guests}}
                {{form.employee}}
            </div>
            
        </div>
    </div>
    <div id="stage-container">
    </div>
    <div id="tooltip"></div>
</div>


{% endblock %}

{% block script %}

<script src="https://unpkg.com/konva@9.3.3/konva.min.js"></script>
<script src="{% static 'js/floorPlanHandler.js' %}"></script>
{{tables|json_script:"tables_json"}}
{{restaurants|json_script:"restaurants_json"}}
{{employees|json_script:"employees_json"}}
{{users|json_script:"users_json"}}

{% endblock script %}