{% extends "base.html" %} {% block title %} Sign Up Page {% endblock %}
{% block content %}
<div class="wrapper-signup">
  <form>
    <h1>Sign Up</h1>
    <div class="input-field">
      <input
        type="text"
        id="username"
        placeholder=" Enter Username"
        required
      />
    </div>
    <div class="input-field">
      <input type="text" id="email" placeholder=" Enter Email" required />
    </div>
    <div class="input-field">
      <input
        type="password"
        id="password"
        placeholder=" Enter Password"
        required
      />
    </div>
    <div class="input-field">
      <input
        type="password"
        id="password"
        placeholder=" Confirm Password"
        required
      />
    </div>
    <div class="input-field">
      <input type="submit" value="Sign Up" id="log-in_button" />
    </div>
    <div>
      <p>Already have an account? <a href="/">Log In</a></p>
    </div>
  </form>
</div>
{% endblock %} 