{% extends "base.html" %} 
{% load static %}
{% block title %} Sign Up Page {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
{% endblock styles %}
{% block content %}
<div class="wrapper-signup">
  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <h1>Sign Up</h1>
    <div class="input-field">
      {{form.username}}
    </div>
    <div class="input-field">
      {{form.email}}
    </div>
    <div class="input-field">
      {{form.first_name}}
      {{form.last_name}}
    </div>
    <div class="input-field">
      {{form.password1}}
    </div>
    <div class="input-field">
      {{form.password2}}
    </div>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}" style="color: red; font-size: 20px;margin: 0;" >{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
    <div class="input-field">
      <button style="width:600px; height: 60px; font-size: 40px;">Sign Up</button>
    </div>
    <div>
      <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    </div>
  </form>
</div>
{% endblock %} 
{% block script %}
{% endblock script %}