body {
  height: 100vh;
  width: 100vw;
  background-color: #ffe6a7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/static/img/clem-onojeghuo-zlABb6Gke24-unsplash.jpg");
  background-size: cover;
}
.wrapper{
  background-color: rgb(24, 24, 24);
  border: solid white 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-login {
  height: 600px;
  width: 700px;
}
.wrapper-signup {
  height: 1000px;
  width: 700px;
  
}
.wrapper-about {
  height: 700px;
  width: 700px;
  padding: 10px;
}
.wrapper-home {
  height: 700px;
  width: 700px;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 20px;
  color: white;
}
.input-field {
  margin: 10px;
  height: 60px;
  width: 600px;
  display: inline-block;
  margin-bottom: 50px;
  color: white;
  align-items: center;
}
#name-field {
  display: flex;
  flex-direction: row;
}
#id_username, #id_email, #id_first_name, #id_last_name, #id_password1, #id_password2, #id_password {
  height: 60px;
  width: 600px;
  margin-bottom: 50px;
  background: transparent;
  border: solid white 1px;
  border-radius: 5px;
}
button {
  width: 600px;
  height: 60px;
  font-size: 40px;
  background-color: white;
  color: black;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 20px;
  color: white;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  float: left;
}
.name-input {
  height: 60px;
  width: 600px;
  margin-bottom: 50px;
}
p {
  color: white;
}
.wrapper-about>ul, .wrapper-about>h2 {
  color: white;
}

@media (max-width: 700px), (max-height: 1000px) {
  html {
    width: 100vw;
  }
  body {
    background-image: none;
    background-color: rgb(24, 24, 24);
  }
  .wrapper {
    width: 100vw;
    height: 90vh;
    background-color: rgb(24, 24, 24);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-field {
    margin: 10px;
    height: 50px;
    width: 100vw;
    display: flex;
    margin-bottom: 50px;
    color: white;
    align-items: center;
  }
  input {
    flex: 1;
    background: transparent;
    color: white;
    font-size: 20px;
    width: 100%;
  }
  .name-input .form-input{
    width: 100vw;
    flex: 1;
    box-sizing: border-box;
  }
  button {
    flex: 1;
    font-size: 40px;
    background-color: white;
    color: black;
    margin-top: 20px;
  }
}
